<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to t(".top_call_to_action", default: "booker une commande"), new_booking_path, class: "button-create-booking btn" %>

      <% @trucks.each do |truck| %>
        <% if truck.availability %>
          <div class="product">
            <div class='product-upvote'>
              <div class="product-arrow"></div>
              <div class='product-count'>95</div>
            </div>
            <img src="kudoz.jpg" alt="kudoz" class="product-image hidden-xs">
            <div class='product-body'>
              <h3><%="#{truck.gauge} #{truck.category}" %></h3>
              <p><%=truck.description%></p>
            </div>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
              <li><p>Prix:<%= truck.price %></p></li>
            </ul>
            <div class="card-body">
            <%= link_to truck.gauge , truck_path(truck) %>
          </div>
          </div>
        <% else %>
          <h2>There is no available truck</h2>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
