<%= simple_form_for([@truck, @booking]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :starting_date, as: :string, input_html: { class:"datepicker" } %>
    <%= f.input :ending_date, as: :string, input_html: { class:"datepicker" } %>
    <%= f.input :location %>
    <%= f.input :description %>
  </div>

  <%= content_for(:after_js) do %>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDANjx3bosEtIyzJaoWs50Wnt6nt_1rmxU"></script>

  <% end %>

  <div class="form-actions">
    <%= f.button :submit, hint: "#{link_to 'Book', truck_bookings_path}"%>

  </div>
<% end %>
