<%= simple_form_for([@truck, @booking]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :starting_date %>
    <%= f.input :ending_date %>
    <%= f.input :location %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, hint: "#{link_to 'Book', truck_bookings_path}"%>

  </div>
<% end %>
