<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @bookings.each do |booking| %>
        <div class="product">
          <div class='product-body'>
            <h3><%= booking.truck.user_id %></h3>
            <h3><%= booking.truck.category%></h3>
            <p><%= booking.description%></p>
            <p><%= booking.location%></p>
            <p>status<%= booking.status%></p>
          </div>
        </div>
    </div>
  </div>
</div>
