<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @pending_bookings.each do |booking| %>
      <% if booking.status == "pending" %>
          <div class="product">
            <div class='product-body'>
            </div>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
              <li><p><%= booking.user.name %></p></li>
              <li><p><%= booking.truck.price %></p></li>
              <li><p><%= booking.location %></p></li>
            </ul>
            <div class="card-body">
              from <%= booking.starting_date.strftime("%d/%m/%Y") %> to <%= booking.ending_date.strftime("%d/%m/%Y") %>

              <%= link_to 'Valider', validate_booking_path(booking), method: :patch, class: "btn btn-primary" %>
              <%= link_to 'Refuser', :onclick => 'refuse_booking',class: "btn btn-primary" %>
            </div>
          </div>
      <% end %>
       <% end %>
    </div>
  </div>
</div>
